* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  
  background-color: transparent;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error {
  color:#d00101;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

@media screen and (max-width: 1600px) {
  .container { 
    margin: 0 40px;
  }
}

@media screen and (max-width: 1036px) {
  .container {
    margin: 0 20px;
  }
}

@media screen and (max-width: 621px) {
  .container {
    margin: 0;
  }
}